
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/bootstrap.min.css"> <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/general.css">
</head>
<body>
    <footer class="">
        <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-4 col-sm-6 border-end border-1 border-dark">
                    <a class="navbar-brand text-dark" href="index.html">Mental Wellbeing<span class="dot">.</span></a>
                    <div class="line"></div>
                    <p class="click"> Empowering Your Journey to Mental Wellness.</p>
                    <div class="social-card">
                        <span>Social</span>
                        <a class="social-link" href="#" aria-label="Facebook">
                            <i class='bi bi-facebook h3'></i>
                        </a>
                        <a class="social-link" href="#" aria-label="Twitter">
                            <i class='bi bi-twitter h3'></i>
                        </a>
                        <a class="social-link" href="#" aria-label="Instagram">
                            <i class='bi bi-instagram h3'></i>
                        </a>
                        <a class="social-link" href="https://github.com/rupanraj19/Agile-team-72" aria-label="GitHub">
                            <i class='bi bi-github h3'></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 border-end border-1 border-dark">
                    <h5 class="mb-0 text-dark">About Us</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="/aboutMentalHealth">About Mental Health</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/privacyPolicy">Privacy Policy</a></li>
                        <li><a href="/termsOfUse">Terms of Use</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <h5 class="mb-0 text-dark">CONTACT</h5>
                    <div class="line"></div>
                    <ul>
                        <li>Team 72</li>
                        <li>Singapore</li>
                        <li>+65 98761234</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row justify-content-evenly align-items-center">
                    <div class="col-4">
                        <p class="mb-0">&copy Copyright 2024. All Rights Reserved</p>
                    </div>
                    <div class="col-4 text-center">
                        <p class="mb-0">Designed by
                        <a href="#">Team 72</a>
                    </p>
                    </div>
                    <div class="col-4 text-center">
                    <a href="#" class="arrow pb-2" aria-label="Scroll to top">
                        <i class="bi bi-chevron-up h1 text-success"></i>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- bootsrap JS -->
    <script src="/bootstrap.bundle.min.js"></script>
</body>
</html>