<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="icon" href="/assets/logo.png" type="image/png" />
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <div class="wrapper">
        <form action="/auth/forgot-password" method="post">
            <h1>Forgot Password</h1>
            <% if (errors.length > 0) { %>
                <div class="alert alert-danger">
                    <% errors.forEach(function(error) { %>
                        <p><%= error %></p>
                    <% }); %>
                </div>
            <% } %>
            <div class="input-box">
                <input name="email" type="email" placeholder="Enter your email" required>
            </div>
            <button type="submit" class="btn text-white">Send Password Reset Link</button>
        </form>
    </div>
</body>
</html>
