<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="main.css">

</head>
<body>
    <!-- header -->
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container">
        <a class="navbar-brand" href="/"><img src="/assets/ASP.png" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/articles">Articles</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/program">Program</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
            <!-- login button  -->
            <a class="ms-auto login-btn" href="/login">
                <button> LOGIN
                </button>
            </a>
            </div>
        </div>
        </nav>
    </header>
    <!-- header end -->
    <main>
        <section>
            <img src="assets/home.png" alt="you are not alone" class="img-fluid home">
        </section>

        <section class="mt-4">
            <div class="row">
                <div class="col-8">
                    <div class="container">
                        <p class="text-center">text</p>
                        <div class="d-flex justify-content-center mt-4">
                            <img src="assets/art.png" alt="art" class="left-img img-fluid">
                            <img src="assets/meditation.png" alt="meditation" class="left-img img-fluid">
                            <img src="assets/mindfulness.png" alt="mindfulness" class="left-img img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <img src="assets/behappy.png" alt="girl sitting alone" class="happy-img img-fluid">
                </div>
            </div>
        </section>
    </main>




    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- footer end -->

</body>
<script src="/bootstrap.bundle.min.js"></script>
</html>
