<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="icon" href="/assets/logo.png" type="image/png" />
    <link rel="stylesheet" href="main.css">
    <script src="/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- header -->
    <%- include('partials/header') %>
    <!-- header end -->

    <main>
        <section> <!-- privacy policy section-->
            <div class="container border-bottom border-2">
                <div class="col-8">
                    <div class="pt-4">
                        <h1>Privacy Policy</h1>
                    </div>
                    <div>
                        <p>
                         At Mental health wellbeing, we are committed to protecting your privacy. This Privacy Policy explains how we collect, use, and protect the information you provide to us through our website
                        </p>
                        <br>
                        <h5>1.Information Collection</h5>
                        <br>
                        <p>
                            We collect personal information such as your name, email address, and any information you voluntarily provide in your interactions with our site.
                        </p>
                        <br>
                        <h5>2.Use of Information</h5>
                        <br>
                        <p>
                            The information we collect is used to provide you with personalized support and resources. We may also use your data to improve our website, send you updates, and communicate with you about our services.
                        </p>
                        <br>
                        <h5>3.Information Sharing</h5>
                        <br>
                        <p>
                            We do not share your personal information with third parties except to provide services through trusted partners, comply with legal obligations, or protect our rights.
                        </p>
                        <br>
                        <h5>4.Data Security</h5>
                        <br>
                        <p>
                            We take reasonable measures to protect your information, including encryption and secure data storage. However, we encourage you to keep your login credentials safe.
                        </p>
                        <br>
                        <h5>5.User Rights</h5>
                        <br>
                        <p>
                            You have the right to access, correct, or delete your personal information. If you wish to exercise these rights, please contact us.
                        </p>
                        <br>
                        <h5>6.Cookies and Tracking</h5><br>

                        <p>
                            We use cookies to enhance your experience on our site. You can choose to disable cookies through your browser settings, but this may affect the functionality of our site.
                        </p>
                        <br>
                        <h5>7.Changes to Privacy Policy</h5> <br>

                        <p>
                            We may update this Privacy Policy from time to time. We will notify you of any significant changes by posting the new policy on our website.
                        </p>
                        <br>
                        <h5>8.Contact Information</h5><br>

                        <p>
                            If you have any questions or concerns about our Privacy Policy, please contact us.
                        </p>
                        <br>
                        <h5>9.Children's Privacy</h5><br>

                        <p>We do not knowingly collect personal information from children under 13. If we become aware that we have collected such information, we will take steps to delete it.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <br><br>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- footer end -->
</body>

</html>
