<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Games Page</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <nav>
        <img src="/assets/ASP.png" alt="Logo">
        <div class="center-links">
            <a href="/">Home</a>
            <a href="/articles">Articles</a>
            <a href="/program">Program</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
        <div class="login-link">
            <a href="/login">Login</a>
        </div>
    </nav>
    <div class="content">
        <h1>Program Games Page</h1>
    </div>
    <footer>
        <img src="/ASP.png" alt="Logo" class="footer-logo">
        <div class="footer-links">
            <div class="about-us">
                <h3>About Us</h3>
                <a href="/aboutMentalHealth">About Mental Health</a>
                <a href="/faq">FAQ</a>
                <a href="/privacyPolicy">Privacy Policy</a>
                <a href="/termsOfUse">Terms of Use</a>
            </div>
            <div class="footer-divider"></div>
            <div class="contact-us">
                <h3>Contact Us</h3>
                <a href="https://instagram.com" target="_blank">Instagram</a>
                <a href="https://twitter.com" target="_blank">X</a>
                <a href="https://facebook.com" target="_blank">Facebook</a>
                <a href="https://youtube.com" target="_blank">YouTube</a>
            </div>
        </div>
    </footer>
</body>
<script src="/bootstrap.bundle.min.js"></script>
</html>
