<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Games Page</title>
    <link rel="icon" href="/assets/logo.png" type="image/png" />
    <link rel="stylesheet" href="/game.css">
</head>
<body>
    <!-- header -->
    <%- include('partials/header') %>
    <!-- header end -->

    <main>
        <section class="before-after">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <img class="img back-img" src="assets/game2.png" alt="before" />
                    <img class="img front-img" src="assets/game1.png" alt="after" />
                    <input type="range" min="1" max="100" value="50" class="game-img-slider d-flex justify-content-center align-items-center" name="game-img-slider" id="game-img-slider" />
                </div>
            </div>
        </section>
        <br><br><br>

        <section class="p-4 gameplay">
            <div class="container">
              <div class="row m-4">
                <div class="col-lg-12 col-md-12 mb-4">
                    <h1 class="text-center">Games</h1>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="game-card">
                            <div class="game-card-image"></div>
                            <p class="game-card-title">Card title</p>
                            <p class="game-card-body">
                                Nullam ac tristique nulla, at convallis quam. Integer consectetur mi nec magna tristique, non lobortis.
                            </p>
                            <p class="game-footer">Written by <span class="by-name">John Doe</span> on <span class="date">25/05/23</span></p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="game-card">
                            <div class="game-card-image"><img class="img img-fluid" src="assets/game.png" alt="game cover image"></div>
                            <p class="game-card-title">Pathway to Light</p>
                            <p class="game-card-body text-white">
                                pathway to Light is a journey of helping a character overcome depression and find their way to joy. The game is divided into four stages, each representing a step toward healing. To clear a level, you must collect all the bubbles. <br>
                                <center><button class="btn btn-danger mt-1"><a class="text-white text-bold text-center" href="https://ruby-19.itch.io/pathway-to-light">Play</a></button></center>
                            </p>
                            <!-- <p class="game-footer"><span class="by-name"></span> on <span class="date"></span></p> -->
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="game-card">
                            <div class="game-card-image"></div>
                            <p class="game-card-title">Cheer Chase</p>
                            <p class="game-card-body">
                                <button class="btn btn-warning">Coming soon</button>
                            </p>
                        </div>
                    </div>
                </div>

              </div>
            </div>
          </section>
            <div class="row">
                <div class="col-12">
                    <div class="section-title pt-2">
                        <h1 class="text-center">More games</h1>
                    </div>
                </div>
                <div class="">
                    <div class="breathing-game d-flex justify-content-center align-items-center">
                        <div class="circle breathe-in-circle d-flex justify-content-center align-items-center" id="breathe-in-circle">Breathe In</div>
                        <div class="circle breathe-out-circle d-flex justify-content-center align-items-center" id="breathe-out-circle">Breathe Out</div>
                        <div class="instructions" id="instructions">Inhale... Hold... Exhale...</div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- footer end -->

    <script src="/breathingGame.js"></script>
</body>

<script>
const slider = document.getElementById("game-img-slider");
slider.addEventListener("input", function () {
  const frontImage = document.querySelector(".front-img");
  const value = this.value;

  frontImage.style.clipPath = `polygon(0 0, ${value}% 0, ${value}% 100%, 0 100%)`;
});
</script>

</html>