<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Games Page</title>
    <link rel="icon" href="/assets/logo.png" type="image/png" />
    <link rel="stylesheet" href="/game.css">
</head>
<body>
    <!-- header -->
    <%- include('partials/header') %>
    <!-- header end -->

    <main>
        <!-- Before-After Image Slider Section -->
        <section class="before-after">
                <div class="col-lg-12 col-md-12">
                        <!-- Background Image -->
                        <img class="img back-img" src="assets/game2.png" alt="before" />
                        <!-- Foreground Image -->
                        <img class="img front-img" src="assets/game1.png" alt="after" />
                        <!-- Image Slider -->
                        <label>
                            Adjust game image size
                            <input type="range" min="1" max="100" value="50" class="game-img-slider position-absolute top-50 start-50 translate-middle w-50" name="game-img-slider" id="game-img-slider">
                        </label>
                </div>
        </section>
        <br><br><br>

        <!-- Games Section -->
        <section class="p-4 gameplay">
            <div class="container">
                <div class="row m-4">
                    <div class="col-12 mb-4">
                        <!-- Section Title -->
                        <h1 class="text-center">Games</h1>
                    </div>
                    <!-- Games Cards -->
                    <div class="row d-flex justify-content-center">
                        <!-- Game 1: Mental Rush -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="game-card mx-auto">
                                <!-- Game Image -->
                                <div class="game-card-image">
                                    <img class="img img-fluid" src="assets/rush.png" alt="mental rush game cover image">
                                </div>
                                <!-- Game Title -->
                                <p class="game-card-title">Mental Rush</p>
                                <!-- Game Status -->
                                <p class="game-card-body">
                                    <button class="btn btn-warning">Coming Soon</button>
                                </p>
                            </div>
                        </div>

                        <!-- Game 2: Pathway to Light -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="game-card mx-auto">
                                <!-- Game Image -->
                                <div class="game-card-image">
                                    <img class="img img-fluid" src="assets/game.png" alt="game cover image">
                                </div>
                                <!-- Game Title -->
                                <p class="game-card-title">Pathway to Light</p>
                                <!-- Game Description -->
                                <p class="game-card-body text-white">
                                    Pathway to Light is a journey of helping a character overcome depression and find their way to joy. The game is divided into four stages, each representing a step toward healing. To clear a level, you must collect all the bubbles. <br>
                                    <center><button class="btn btn-danger mt-1" onclick="window.location.href='https://ruby-19.itch.io/pathway-to-light'">Play</button></center>
                                </p>
                            </div>
                        </div>

                        <!-- Game 3: Cheer Chase -->
                        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                            <div class="game-card mx-auto">
                                <!-- Game Image -->
                                <div class="game-card-image">
                                    <img src="assets/chase.png" class="img img-fluid" alt="cheer chase game cover image">
                                </div>
                                <!-- Game Title -->
                                <p class="game-card-title">Cheer Chase</p>
                                <!-- Game Status -->
                                <p class="game-card-body">
                                    <button class="btn btn-warning">Coming soon</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- footer end -->

    <!-- Image Slider Script -->
    <script>
        const slider = document.getElementById("game-img-slider");
        slider.addEventListener("input", function () {
        const frontImage = document.querySelector(".front-img");
        const value = this.value;

        frontImage.style.clipPath = `polygon(0 0, ${value}% 0, ${value}% 100%, 0 100%)`;
        });
    </script>

</body>
</html>