<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Program Games Page</title>
    <link rel="icon" href="/assets/logo.png" type="image/png" />
    <link rel="stylesheet" href="/game.css">
</head>
<body>
    <!-- header -->
    <%- include('partials/header') %>
    <!-- header end -->

    <main>
        <section class="before-after">
            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <img class="img img-fluid back-img" src="assets/game2.png" alt="before" />
                    <img class="img img-fluid front-img" src="assets/game1.png" alt="after" />
                    <input type="range" min="1" max="100" value="50" class="game-img-slider d-flex justify-content-center align-items-center" name="game-img-slider" id="game-img-slider" />
                </div>
            </div>
        </section>

        <section class="mt-4">
            <div class="row">
                <div class="col-12 mt-4">
                    <h1>Program Games Page</h1>
                    <div class="container">
                        <div class="breathing-game d-flex justify-content-center align-items-center">
                            <div class="circle breathe-in-circle d-flex justify-content-center align-items-center" id="breathe-in-circle">Breathe In</div>
                            <div class="circle breathe-out-circle d-flex justify-content-center align-items-center" id="breathe-out-circle">Breathe Out</div>
                            <div class="instructions" id="instructions">Inhale... Hold... Exhale...</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="infinite-scroll">
            <div class="row">
                <div class="col-12">
                    <div class="section-title pt-2">
                        <h1 class="text-center">More games</h1>
                    </div>
                </div>
                <div class="slider" style="--width: 100px; --height: 50px; --quantity: 10;">
                    <div class="list">
                        <div class="item" style="--position: 1"><img src="images/slider1_1.png" alt="">text</div>
                        <div class="item" style="--position: 2"><img src="images/slider1_2.png" alt="">text</div>
                        <div class="item" style="--position: 3"><img src="images/slider1_3.png" alt="">text</div>
                        <div class="item" style="--position: 4"><img src="images/slider1_4.png" alt="">text</div>
                        <div class="item" style="--position: 5"><img src="images/slider1_5.png" alt="">text</div>
                        <div class="item" style="--position: 6"><img src="images/slider1_6.png" alt="">text</div>
                        <div class="item" style="--position: 7"><img src="images/slider1_7.png" alt="">text</div>
                        <div class="item" style="--position: 8"><img src="images/slider1_8.png" alt="">text</div>
                        <div class="item" style="--position: 9"><img src="images/slider1_9.png" alt="">text</div>
                        <div class="item" style="--position: 10"><img src="images/slider1_10.png" alt="">text</div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- footer end -->

    <script src="/breathingGame.js"></script>
</body>
<script>
const slider = document.getElementById("game-img-slider");
slider.addEventListener("input", function () {
  const frontImage = document.querySelector(".front-img");
  const value = this.value;

  frontImage.style.clipPath = `polygon(0 0, ${value}% 0, ${value}% 100%, 0 100%)`;
});
</script>
</html>