<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <nav>
        <img src="/assets/ASP.png" alt="Logo">
        <div class="center-links">
            <a href="/">Home</a>
        </div>
    </nav>
    <h1>Register Page</h1>
</body>
</html>
