<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link rel="icon" href="/assets/logo.png" type="image/png" />
  <link rel="stylesheet" href="/success.css">
  <meta http-equiv="refresh" content="3;url=/contact" />
</head>
<body>
  <main>
    <section>
      <div class="success">
        <img src="/assets/success_celebration_800x600.gif" alt="Success Celebration">
        <h1 class="success-text">Your message has been sent successfully!</h1>
      </div>
    </section>
  </main>
</body>
</html>
