<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel="icon" href="/assets/logo.png" type="image/png" />
    <link rel="stylesheet" href="/extras.css">
</head>
<body class="body">

    <!-- header -->
    <%- include('../partials/header') %>
    <!-- header end -->

    <main class="container border border-2 bg-white mt-4 p-2">
        <section>
            <div class="row">
                <div class="col-sm-10 col-lg-12 p-2">
                    <h1 class="text-center">Burnout</h1>
                    <br>
                    <img class="img-fluid" src="assets/articles/burnout.png" alt="">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-10 border border-2">
                    <p>Burnout is a state of emotional, mental, and physical exhaustion caused by prolonged stress, overwork, and lack of balance in life. It can result from excessive workload, lack of control, poor work-life balance, and an unsupportive work environment. Burnout can lead to feelings of hopelessness, detachment, and cynicism towards work and life in general.</p>

                    <p>To overcome burnout, it's essential to recognize the signs and take proactive steps. This includes setting boundaries, prioritizing self-care, seeking support from loved ones or professionals, and making time for relaxation and activities that bring joy. Additionally, re-evaluating priorities and making changes to reduce stress and increase fulfillment can help prevent future burnout. By taking small steps towards recovery, individuals can regain control, build resilience, and achieve a healthier work-life balance.</p>

                    <p>Resources:</p>
                    <ul>
                        <li><a href="https://hbr.org/2016/11/beating-burnout">Harvard Business Review - Beating Burnout</a></li>
                        <li><a href="https://www.helpguide.org/mental-health/stress/burnout-prevention-and-recovery">HelpGuide - Burnout</a></li>
                        <li><a href="https://www.psychologytools.com/self-help/burnout/">Psychologytools - Burnout</a></li>
                    </ul>
                </div>
                <div class="col-md-2 border border-2">
                    <div class="row"><h3>Featured Topics</h3></div>
                    <div class="d-flex flex-column mb-3">
                        <div class="p-2"><a href="/peace">Peace</a></div>
                        <div class="p-2"><a href="/stress">Stress</a></div>
                        <div class="p-2"><a href="/mentalwellbeing">Mental well being</a></div>
                        <div class="p-2"><a href="/procastination">Procastination</a></div>
                      </div>
                </div>
            </div>
        </section>
    </main>

     <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- footer end -->
</body>
</html>