/* variables */
:root{
    --c-dark: #212529;
    --c-brand:  #1da00c;
    --c-brand-light: #b7e1c5;
    --c-brand-rgb: 78, 87, 212;
    --c-team-body: #dddebb;
    --c-footer-body: #e8e8e8;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.8);
    --c-border:  #F0A500;
    --transition: all 0.5s ease;
}

.intro{
    background-color: #000;
    position: relative;
    text-align: center;
    color: white;
}

.about-text {
    position: absolute;
    top: 50%;
    left: 53%;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--c-dark);
}

a{
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

.about-img, .team-section img{
    max-width: 100%;
    height: auto;
}


.section-padding{
    padding-top: 200px;

}

.middle-section {
    background-color: var(--c-brand-light) ;
}

.team-section {
    background-color: var(--c-team-body);
}

/* hof */
.hof-text h1{
    font-size: 64px;
    font-weight: 800;
}

.hof-title{
  color: #000000;
}

/* image zoom */
.image-zoom {
    position: relative;
    overflow: hidden;
}

.image-wrapper{
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper img{
    border-radius: 5px;
    border: var(--c-border) 5px solid;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: auto;
}

.image-zoom-wrapper img{
    transition: var(--transition);

}

.image-zoom:hover .image-zoom-wrapper img{
    transform: scale(1.1);

}

/* readmore btn */
.rd-more-button {
    --bg: #73777B;
    --hover-bg: #ff9790;
    --hover-text: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}

.rd-more-button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.rd-more-button:active {
    transform: translate(0);
    box-shadow: none;
}

.about-line{
    width: 60px;
    height: 4px;
    background-color:  #a00c0c ;
    margin-left: 48%;
}

.line1{
    width: 60px;
    height: 4px;
    background-color:  #a00c0c ;
    margin-left: 10%;
}

/* more */
#more{
    display: none;
}

/* dark mode */
.dark-mode {
  background-color: black;
  color: white;
  --c-dark: #ffffff;
  --c-brand:  black;
  --c-brand-light: rgb(49, 48, 48);
  --c-body: black;
  --c-border: white;
  --box-shadow: 0px 15px 25px rgba(255, 255, 255, 0.8);
}
