/* Root variables for colors, shadows, and transitions */
:root {
    --c-dark: #212529;
    --c-brand:  #1da00c;
    --c-brand-light: #b7e1c5;
    --c-brand-rgb: 78, 87, 212;
    --c-team-body: #dddebb;
    --c-footer-body: #e8e8e8;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.8);
    --c-border:  #F0A500;
    --transition: all 0.5s ease;
}

/* Intro section styling  */
.intro{
    background-color: #000;
    position: relative;
    text-align: center;
    color: rgb(10, 9, 9);
}

/* About text positioning */
.about-text {
    position: absolute;
    top: 50%;
    left: 60%;
}

/* Link styling */
a {
    text-decoration: none;
    color: var(--c-brand);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brand-light);
}

/* Image styling for about and team sections */
.about-img, .team-section img {
    max-width: 100%;
    height: auto;
}

/* Section padding */
.section-padding {
    padding-top: 200px;
}

/* Middle section background color */
.middle-section {
    background-color: var(--c-brand-light);
}

/* Team section background color */
.team-section {
    background-color: var(--c-team-body);
}

/* Image zoom effect */
.image-zoom {
    position: relative;
    overflow: hidden;
}

.image-wrapper {
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper img {
    border-radius: 5px;
    border: var(--c-border) 5px solid;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: auto;
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

/* Read more button styling */
.rd-more-button {
    --bg: #73777B;
    --hover-bg: #ff9790;
    --hover-text: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
}

.rd-more-button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.rd-more-button:active {
    transform: translate(0);
    box-shadow: none;
}

/* "More" content hidden by default */
#more {
    display: none;
}
