/* variables */
:root{
    --c-dark: #212529;
    --c-brand:  #4ed670;
    --c-brand-light: #b7e1c5;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --c-bg4: #dddebb;
    --c-footer-body: #e8e8e8;
    --box-shadow: 0px 15px 25px rgba(0,0,0,0.8);
    --transition: all 0.5s ease;
}


/* condition cards */
/* slider */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

  /* slider */

.slider .card-content {
    position: absolute;
    left: 2%;
    bottom: 1%
}

.slider .card-content h6, .slider .card-content p {
    color:#fff
}
